.primary{
    background-color: #9933CC;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #9933CC;
    padding: 5px;
    margin-bottom: 5px;
    font-family: Oxygen;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 2px 5px 10px 0.5px rgba(0, 51, 102, 15%);
}

.secondary{
    background-color: #FF9933;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #FF9933;
    padding: 5px;
    margin-bottom: 5px;
    font-family: Oxygen;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 2px 5px 10px 0.5px rgba(255, 153, 51, 30%);
}

.small{
    width: 50%;
}

.medium{
    width: 80%;
}

.large{
    width: 100%;
}