.primary{
    background-color: #9933CC;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #9933CC;
    padding: 5px;
    margin-bottom: 5px;
}

.secondary{
    background-color: #FF9933;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #FF9933;
    padding: 5px;
    margin-bottom: 5px;
}

.small{
    width: 50%;
}

.medium{
    width: 80%;
}

.large{
    width: 100%;
}