.date{
    height: 100vh;
}

.date-input {
    width: 40%;
    text-align: left;
    font-family: Oxygen;
    font-size: 18px;
    font-weight: 700;
    color:#003366
}

.time-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-datepicker__header {
    background-color: #003366;
}

.react-datepicker {
    font-family: Oxygen;
    font-size: 14px;
    background-color: #f3f3f3;
    border: none;
    box-shadow: 2px 5px 10px 0.5px rgba(0, 51, 102, 15%);
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #f3f3f3;
  font-weight: bold;
  font-size: 0.944rem;
}

.react-datepicker__day-name{
  color: #f3f3f3;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    background-color: #003366;
    font-weight: 700;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    border-top: none;
    border-bottom-color: transparent;
    /* left: -48px; */
}