.register{
    height: 100vh;
}

.register-header{
   height: 35%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.register-header img{
   width: 75%;
 }


.register-header h1{
    color: black;
    font-family:Helvetica;
    font-size: 24px;
    letter-spacing: 3px;
    margin-top: 5px;
}


.register-body{
    height: 50%;
    text-align: right;
}

.register-input{
    width: 100%;
    border-radius: 12px;
    text-align: left;
    background-color: #f3f3f3;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 10px 0.5px rgba(0, 51, 102, 15%);
}

.register-input input{
    width: 85%;
    background-color: #f3f3f3;
}

.register-body input{
    border: none;
}

.register-input input::placeholder{
    color: #003366;
    font-family: Oxygen;
}

.register-footer{
   margin-bottom: 2rem;
}