.register{
    height: 100vh;
    background: #f4eafa;
}

.register-header{
   height: 35%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.register-header img{
   width: 70%;
 }


.register-header h1{
    color: #003366;
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
}


.register-body{
    height: 50%;
    text-align: right;
}

.register-input{
    width: 80%;
    margin: 30px auto 5px auto;
    border-radius: 5px;
    text-align: left;
    background-color: white;
    padding: 5px 0;
}

.register-input input{
    
    width: 85%;
}

.register-body input{
    border: none;
}

.register-footer{
   margin-bottom: 2rem;
}