.modal{
    position: fixed;
    top: 61%;
    width:100%;
}

.modal-content {
    border: none;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}
.modal-dialog{
    margin:0;
    border:none;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 40px;
    border: 3px solid red;
}

.modal-header{
    border: 0;
}

.modal-header button{
    background-color: white;
    border: none;
    color: #666666;
}

.modal-footer{
    border: 0;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
}

.button-cancel{
    background-color: #FF9933;
    border: none;
}

.button-confirm{
    background-color: #9933CC;
    border: none;
}