.register{
    height: 100vh;
}

.registerCar-input.form-control {
    width: 100%;
    border-radius: 12px;
    border: none;
    text-align: left;
    background-color: #f3f3f3;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 10px 0.5px rgba(0, 51, 102, 15%);
}

.registerCar-input.form-control::placeholder{
    font-family: Oxygen;
    color:#003366;
}

.registerCar-input.form-control:focus{
    background-color: #f3f3f3;
    outline: transparent;
    box-shadow: 2px 5px 10px 0.5px rgba(0, 51, 102, 15%);
}

.type-button {
    background-color: #f3f3f3;
    color:#003366;
    cursor: pointer;
    padding: 10px;
    border-radius: 1.5rem;
    box-shadow: 2px 5px 10px 0.5px rgba(0, 51, 102, 15%);
    transition: background-color 0.25s;
    height: 80px;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.type-button.active{
    background-color: #003366;
}

.hide-radio {
    display: none;
}