*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: 20px;
}

.container-profile {
    position: relative;
}

.more {
    padding: 3px;
    background-color: #9933cc;
    border-radius: 1.5rem;
    position: relative;
    right: 20px;
    top: 20px;
    color:white;
}

.user-pic {
    height: 60px;
}

.logo-small {
    width:120px;
}