.profile{
    height: 100vh;
}

.profile-header{
   height: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.profile-header h1{
    margin-bottom: 0;
}

.profile-header img {
    width: 70%
}

.profile-body{
    height: 30%;
    text-align:right;
}

.profile-input {
    width: 100%;
    border-radius: 12px;
    text-align: left;
    background-color: #f3f3f3;
    padding: 8px;
    margin-bottom: 12px;
    box-shadow: 2px 5px 10px 0.5px rgba(0, 51, 102, 15%);
}

.profile-input input{
    width: 80%;
    background-color: #f3f3f3;
    border: none;
}

.profile-input input::placeholder{
    font-family: Oxygen;
    color:#003366;
}

.profile-footer{
    margin-top: 2rem;
}

.user-circle {
    position: relative;
    background-color: #003366;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    margin-bottom: -10px;
}

.user-circle img {
    width: 60px;
    position: relative;
    bottom: -6px;
}

.add-pic {
    position: relative;
    top:-28px;
    right:-70px;
    background-color: #9933cc;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complete-add {
    margin-top: 20px;
    height: 20%;
}

.link-complete {
    font-family: Oxygen;
    font-weight: 700;
    color:#003366;
}