.profile{
    height: 100vh;
    background: #f4eafa;
}

.profile-header{
   height: 35%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.profile-header img {
    width: 70%
}

.profile-header h1{
    color: #003366;
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 70px;
    font-size: 30px;
    margin-top: 3rem;
}

.profile-body{
    height: 30%;
    text-align:right;
}

.profile-input {
    width: 80%;
    margin: 30px auto 5px auto;
    border-radius: 5px;
    text-align: left;
    background-color: white;
    padding: 5px 0;
}

.profile-input input{
    width: 85%;
}

.profile-body input{
    border: none;
}

.profile-button{
    height: 50%;
    width: 50%;

}

.profile-footer{
    margin-top: 5rem;
}

