.body-dateandpay{
    height: 100vh;
}

.confirm-info {
    background-color: #f3f3f3;
    border-radius: 1.5rem;
    box-shadow: 2px 5px 10px 0.5px rgba(0, 51, 102, 15%);
    margin-bottom: 30px;
    padding: 18px;
    font-family: Oxygen;
    color:#003366;
    font-size: 17px;
}

.confirm-info div.d-flex p{
    margin-bottom: 8px;
    text-align: left;
}

.checkout {
    background-color: #003366;
    padding: 12px;
    border-radius: 1rem;
    font-family: Oxygen;
    color: #f3f3f3;
    margin-top: 15px;
    width: 100%;
    text-align: right;
}

/* .pay-method{
    display: flex;
    align-items: flex-start;
    margin-left: 3rem;
    margin-bottom: 2rem; 
}*/