.landing-hero{
    background-image: url('https://indiepropub.com/wp-content/uploads/2021/09/Hombre-lavando-auto..-678x381.png');
    background-color: #cccccc;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-hero h1{
  color: #f9f9f9;
  font-size: 2.5rem;
  margin: 15px;
}

.landing-hero button{
    background-color: #FF9933;
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.landing-how-works{
    background: #003366;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.landing-how-works h2{
    color: white;
}

.card-how-works{
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-top: 25px;
}

.card-how-works-header{
    display: flex;
    justify-content: center;
}

.icon-container{
    background-color: #cccccc;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 15px;
}

.card-how-works-body{
    margin: 0px 20px;
}

.landing-pros{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f3f3f3;
}

.card-pros{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 85%;
    margin-top: 25px;
    background-color: #f9f9f9;
    border-radius: 20px;
}

.card-pros-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.card-pros-img img{
    width: 100px;
}

.card-pros-content{
    width: 75%;
    text-align: start;
}

.landing-footer{
    background-color: #003366;
    padding: 20px;
    height: 200px;
    color: #f9f9f9;
    text-align: start;
}