.landing-hero{
    background-image: url('../../Images//car-wash-detailing-station.jpg');
    background-size: cover;    
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-landing{
    position:relative;
    left: 25px;
    width:90%;
}

.washak-info {
    background: #003366;
    color:#f3f3f3;
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 700;
}

.washak-info button{
    background-color: #FF9933;
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.landing-how-works{
    background-color: #f3f3f3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.card-how-works{
    width: 80%;
    box-shadow: 2px 5px 10px 0.5px rgba(0, 51, 102, 15%);
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-top: 25px;
}

.card-how-works-header{
    height: 200px;
    display: flex;
    justify-content: center;
}

.icon-container{
   width: 60%;
   padding-top: 30px;
}

.landing-registro {
    position: relative;
    right: -15px;
    height: 170px;
}

.landing-shine {
    height:170px;
}

.card-how-works-body{
    margin: 20px 20px;
    font-family: Oxygen;
    color:#003366;
}

.card-how-works-body h3{
    font-weight: 700;
    color:#FF9933;
}

.landing-pros{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #036;
    font-family: Oxygen;
    color: #036;
}

.landing-pros h2 {
    color:#f3f3f3;
}

.card-pros{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    margin-top: 25px;
    background-color: #f9f9f9;
    border-radius: 20px;
}

.card-pros-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.card-pros-img img{
    width: 100px;
}

.card-pros-content{
    width: 75%;
    text-align: start;
}

.landing-footer{
    background-color: #003366;
    padding: 20px;
    height: 200px;
    color: #f9f9f9;
    text-align: start;
}