.home {
    height: 100vh;
}

.home-vehicles {
    height: 10%;
}
.slider-container {
    overflow-x: hidden;
}

.slider-vehicles {
    margin-bottom: 15px;
    cursor:grab;
}

.car-input{
    display: none;
}

.link-mvehicles {
    font-weight: 700;
    color: #036;
    text-align: right;
}

#EXPRESS, #PREMIUM, #COMPLETE {
    display: none;
}