.home {
    height: 100vh;
}

.home-vehicles {
    height: 10%;
}
.slider-container {
    overflow-x: hidden;
}

.slider-vehicles {
    margin-bottom: 15px;
    cursor:grab;
}

.user-vehicles-header{
    display: flex;
    justify-content: space-around;
}

.car-input{
    display: none;
}