.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  color: #003366;
  font-family: 'Ubuntu', italic;
  font-size: 30px;
  text-align: left;
  margin-bottom: 30px;
}

.subtitle {
  color: #003366;
  font-family: 'Ubuntu', italic;
  font-size: 26px;
  text-align: left;
  margin-bottom: 30px;
}

.bgimg-1{
  background-image: url(./Images/Background.png);
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.bgimg-2{
  background-image: url(./Images/Background-2.png);
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
