.login{
    height: 100vh;
}

.login-header{
   height: 35%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.login-header img{
   width: 75%;
 }

.login-header h1{
    color: #003366;
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
}

.login-body{
    height: 50%;
    text-align: right;
}

.login-body p:first-of-type{
    text-align: left;
    font-family: Oxygen;
    font-weight: 700;
    color:#003366;
}

.login-body a{
    color:#003366;
    font-family: Oxygen;
}

.login-input{
    width: 100%;
    border-radius: 12px;
    text-align: left;
    background-color: #f3f3f3;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 10px 0.5px rgba(0, 51, 102, 15%);
}

.login-input input::placeholder{
    color: #003366;
    font-family: Oxygen;
}

.login-input input{
    width: 85%;
    background-color: #f3f3f3;
}

.login-body input{
    border: none;
}

.login-footer{
    height: 12%;
}

.link-registro{
    font-family: Oxygen;
    font-weight: 700;
    color:#003366;
}

.p-registro{
    font-family: Oxygen;
    color:#003366;
}